@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);

html, body { height: 100%; }
body { display: flex; justify-content: center; align-items: center; text-align:center; background:beige; overflow:hidden; }

h1 {
 font-size:2em;
 font:bold 3.5vw/1.6 'Signika', sans-serif;
 user-select:none;
}

h1 span { display:inline-block; animation:float .2s ease-in-out infinite; }
 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}
body:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

span:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
span:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }

h1 span:nth-child(2){ animation-delay:.05s; }
h1 span:nth-child(3){ animation-delay:.1s; }
h1 span:nth-child(4){ animation-delay:.15s; }
h1 span:nth-child(5){ animation-delay:.2s; }
h1 span:nth-child(6){ animation-delay:.25s; }
h1 span:nth-child(7){ animation-delay:.3s; }
h1 span:nth-child(8){ animation-delay:.35s; }
h1 span:nth-child(9){ animation-delay:.4s; }
h1 span:nth-child(10){ animation-delay:.45s; }
h1 span:nth-child(11){ animation-delay:.5s; }
h1 span:nth-child(12){ animation-delay:.55s; }
h1 span:nth-child(13){ animation-delay:.6s; }
h1 span:nth-child(14){ animation-delay:.65s; }


form#crear input:not([type="submit"]){
  background-color:rgb(167, 113, 238);
  color: rgb(255, 255, 255);
  
}

::placeholder {
  color: rgb(158, 221, 240);
  opacity: 5; /* Firefox */
}

button {
  border: 1px solid #000;
}

#botonCrear {
  /* Aquí puedes agregar los estilos que desees */
  margin-top: 20px; /* Por ejemplo, agreguemos un margen superior de 20px */
  text-align: center; /* Centramos el contenido horizontalmente */
  
}

#botonCrear input[type="submit"] {
  /* Estilos específicos para el botón de enviar dentro de #botonCrear */
  /* background-color:#0d6efd !important; */ /* Color de fondo */
  /*color: rgb(248, 243, 243); */ /* Color del texto */ 
  padding: 10px 20px; /* Espaciado interno */
  border: 1px solid #f3f6f7;
  border-radius: 10px; /* Añadimos esquinas redondeadas */
  cursor: pointer; /* Cambiamos el cursor al pasar por encima */
  transition: background-color 0.3s; /* Efecto de transición */
}

#botonCrear input[type="submit"]:hover {
  /* Estilos al pasar el mouse por encima del botón */
  background-color: #3ff748; /* Cambiamos el color de fondo */
  color: rgb(0, 0, 0);
}

body {
 /* background-color: #ffdd90; */
  background-image: url('src/assets/image/fondoRojo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
}

a, b {
  color: rgb(236, 233, 44);
}

#crear{
  background-image: url('src/assets/image/fondoCrear.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
}