<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><span>B</span><span>i</span><span>e</span><span>n</span>
                <span>v</span><span>e</span><span>n</span><span>i</span>
                <span>d</span><span>o</span><span>&nbsp; </span>
                <span>{{usuario.nombre}}</span>&nbsp; <span>{{usuario.apellido}}</span>
                <span>!!</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <a><b>Puedes buscar por Nombre o Apellido: </b></a>
                <input type="text" class="form-group" name="filterPost" 
                placeholder="Search ..." [(ngModel)]= "filterPost">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="#" (click)="logout()"><b>Cerrar sesion</b></a>
        </div>
    </div>
    <div class="row" *ngIf="loading">
        <div class="col-md-12">
            <div class="spinner-border text-info float-end" role="status">
                <span class="sr-only">Cargando...</span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12  bg-secondary text-white">
            <h2>Mis Contactos: <button class="btn btn-primary" (click)="agregar()">Nuevo</button></h2> 
        </div>
    </div>
    <form (ngSubmit)="crearContacto()" id="crear" *ngIf="crear">
        <br>
        <div class="row">
            <div class="col-md-5">
                <input type="text"  class="form-control" 
                [(ngModel)]="contacto.nombre" [ngModelOptions]="{standalone: true}"
                placeholder="Nombre" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5">
                <input type="text"  class="form-control" 
                [(ngModel)]="contacto.apellido" [ngModelOptions]="{standalone: true}"
                placeholder="Apellido" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4" style="color: white">
                Telefonos:   <button class="btn btn-warning btn-sm" (click)="agregarTelefono()">Agregar</button>
            </div>
        </div>
        <div class="row" *ngFor="let telefono of contacto.telefonoList">
            <br>
            <br>
            <div class="col-md-4">
                <input type="text"  class="form-control" 
                [(ngModel)]="telefono.numero" [ngModelOptions]="{standalone: true}"
                placeholder="Numero" required>
            </div>
            <div class="col-md-1">
                <button class="btn btn-danger btn-sm" (click)="borrarTelefono(telefono)">Borrar</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4" style="color: white">
                Correos:<button class="btn btn-warning btn-sm" (click)="agregarCorreo()">Agregar</button>
            </div>
        </div>
        <div class="row" *ngFor="let correo of contacto.correoList">
            <br>
            <br>
            <div class="col-md-4">
                <input type="email"  class="form-control" 
                [(ngModel)]="correo.correo" [ngModelOptions]="{standalone: true}"
                placeholder="Correo" required>
            </div>
            <div class="col-md-1">
                <button class="btn btn-danger btn-sm" (click)="borrarCorreo(correo)">Borrar</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4" style="color: white">
                Direccion:<button class="btn btn-warning btn-sm" (click)="agregarDireccion()">Agregar</button>
            </div>
        </div>
        <div class="row" *ngFor="let direccion of contacto.direccionList">
            <br>
            <br>
            <div class="col-md-4">
                <input type="text"  class="form-control" 
                [(ngModel)]="direccion.descripcion" [ngModelOptions]="{standalone: true}"
                placeholder="Direccion" required>
            </div>
            <div class="col-md-1">
                <button class="btn btn-danger btn-sm" (click)="borrarDireccion(direccion)">Borrar</button>
            </div>
        </div>
        <br>
        <div  id="botonCrear" class="row">
            <div class="d-grid gap-4 col-6 mx-auto">
                <input type="submit" class="btn btn-primary float-end" value="Crear">   
            </div>
        </div>
    </form>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr class="table-dark">
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Direccion</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contacto of contactos  | filter: filterPost">
                        <td class="table-secondary">
                            {{contacto.idcontacto}}
                        </td>
                        <td class="table-secondary">
                            {{contacto.nombre}}
                        </td>
                        <td class="table-secondary">
                            {{contacto.apellido}}
                        </td>
                        <td class="table-secondary">
                            <ul>
                                <li *ngFor="let telefono of contacto.telefonoList">{{telefono.numero}}</li>
                            </ul>
                        </td>
                        <td class="table-secondary">
                            <ul>
                                <li *ngFor="let correo of contacto.correoList">{{correo.correo}}</li>
                            </ul>
                        </td>
                        <td class="table-secondary">
                            <ul>
                                <li *ngFor="let direccion of contacto.direccionList">{{direccion.descripcion}}</li>
                            </ul>
                        </td>
                        <td class="table-secondary">
                            <button type="button" class="btn btn-outline-warning" routerLink="/editar/{{contacto.idcontacto}}">Editar</button>
                        </td>
                        <td class="table-secondary">
                            <button type="button" class="btn btn-outline-danger" (click)="borrarContacto(contacto.idcontacto)" title="Elimina el 'contacto' y todos sus datos">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>